:root {
  --bg-color: #FBFAF5;
  --text-color: #e2504c;
  --main-color: #64a460;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-color);
}

.container {
  max-width: 400px;
  margin-top: 12%;
  margin-left: 35%;
  padding: 20px;
  background-color: var(--bg-color);
  border: 1px solid var(--text-color);
  border-radius: 5px;
}

.input-group input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#folder {
  margin-bottom: 2px;
  font-size: 20px;
}

#lock {
  margin-bottom: 2px;
  font-size: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.message {
  color: red;
  font-weight: bold;
}